body, html {
  padding: 0;
  margin: 0;
  background: #03045e;
  color: #caf0f8;
}
a {
  color: #ade8f4;
}
.info {
  padding: 25px;
}
.wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.sorting-algo-container {
  height: 400px;
  display: flex;
  align-items: flex-end;
}
.item {
  margin-left: 1px;
  flex-grow: 1;
  background:  #0077b6;
}

.left-item {
  background: #90e0ef;
}
.right-item {
  background: #00b4d8;
}
.same-item {
  background: #caf0f8;
}
